body{
    font-family: Arial;
    margin: 0px;
    background-color: black;
    color: white;
}
nav{
    display:flex;
    justify-content:space-between;
    background:black;
    color:white;
    padding:15px 40px;
}
nav ul{
    display:flex;
    list-style: none;
    margin:0;
    padding:0;
}
nav li{
    margin-left: 20px;
}
.hero{
    display: flex;
    height: 100vh -70px;
    overflow:hidden;
}
.hero-left{
    width:50%;
    background:#e5e5e5;
    color:black;
    padding: 120px 80px;
    clip-path: polygon(0 0,82% 0, 65% 100%,0% 100%);
    display:flex;
    flex-direction: column;
    justify-content: center;
    position:relative;
    z-index:1;
    animation: slideFromRight 1s ease-out;
}
.hero-left h1{
   font-size: 50px;
}
.hero-left p{
    font-size: 18;
    margin-top:0;
}
.social{
    margin-top: 0;
}
.social span{
    margin-right:0;
    font-size:50px;
}
.hero-right{
    width:50%;
    background:black;
    display:flex;
    justify-content: center;
    align-items:center;
    overflow: hidden;
    position:relative;
    z-index:2;
}
@keyframes slideFromRight{
    from{
        transform: translateX(100%);
        opacity:0;
    }
    to{
        transform: translateX(0);
        opacity:1;
    }
}
.hero-right img{
    width:500px;
}
section{
    padding:30px;
    text-align: center;
}
.card{
    background: linear-gradient( to right,
        rgba(172,250,209,0.7),
        rgba(67,138,101,1.00)
    );
    backdrop-filter: blur(10px);
    border: 5px solid rgba(255,255,255, 0.3);
    padding: 50px;
    border-radius: 10px;
    color: white;
}